<div class="well well-small">
  <h3><a class="btn btn-mini pull-right" href="products.html" title="View more">VIew More</a> Best Selling Products  </h3>
  <hr class="soften"/>
  <div class="row-fluid">
    <%= yield :best_selling_products%>
  </div>
</div>
