 <div class="well well-small">
  <h3><a class="btn btn-mini pull-right" href="products.html" title="View more">VIew More</a> Featured Products  </h3>
  <hr class="soften"/>
  <div class="row-fluid">
    <%= yield :featured_products%>
  </div>
</div>
