<div class="row">
  <div class="span4">
    <h1>
      <a class="logo" href="<%= index_path%>"><span>Twitter Bootstrap ecommerce template</span>
        <%= image_tag "landing-page/logo_coeus.png", alt: "logo", height: "70%", width: "70%"%>
      </a>
    </h1>
  </div>
  <div class="span4">
    <div class="offerNoteWrapper">
      <h1 class="dotmark">
        <i class=""></i>
        Welcome to Coeus Express. We have everything you may need.
      </h1>
    </div>
  </div>
  <div class="span4 alignR">
    <p><br>
      <strong> Support (24/7) :  <%= ENV['CONTACT']%> </strong><br>
      <br>
    </p>
  </div>
</div>
