<div class="well well-small">
  <ul class="nav nav-list">
    <%= yield :side_bar_categories%>
    <li style="border:0"> &nbsp;</li>
    <li> <a class="totalInCart" href="cart.html"><strong>Total Amount  <span class="badge badge-warning pull-right" style="line-height:18px;">$448.42</span></strong></a></li>
  </ul>
</div>
