<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="topNav">
    <div class="container">
      <div class="">
        <a class="<%= "active" if current_page?(index_path) %>" href="<%=index_path%>"> <span class="fa fa-home"></span> Home</a>
        <a href="#"><span class="fa fa-user"></span> My Account</a>
        <a href="#"><span class="fa fa-user-plus"></span> Free Register </a>
        <a href="#"><span class="fa fa-envelope"></span> Contact us</a>
        <a class="<%= "active" if current_page?(cart_path) %>" href="<%= cart_path%>"><span class="fa fa-shopping-cart"></span>
          <div id="cart-short-quantity" style="display:inline;"></div>
          Item(s) - <span class="badge badge-warning">
            <div id="cart-short-bill" style="display:inline;"></div>
          </span></a>
      </div>
    </div>
  </div>
</div>
