<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="topNav">
    <div class="container">
      <div class="">
        <a class="active" href="index.html"> <span class="fa fa-home"></span> Home</a>
        <a href="#"><span class="fa fa-user"></span> My Account</a>
        <a href="register.html"><span class="fa fa-user-plus"></span> Free Register </a>
        <a href="contact.html"><span class="fa fa-envelope"></span> Contact us</a>
        <a href="cart.html"><span class="fa fa-shopping-cart"></span> 2 Item(s) - <span class="badge badge-warning"> $448.42</span></a>
      </div>
    </div>
  </div>
</div>
