<div id="reviews" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
        <div class="item active">

            <div class="col-md-10 col-md-offset-1">

                <h4><i class="fa fa-quote-left"></i>Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor sit amet, consectetur adipiscing elit onec molestie non sem vel condimentum. <i class="fa fa-quote-right"></i></h4>
                <div class="user-img pull-right">
                    <img src="assets/img/user.gif" alt="" class="img-u image-responsive" />
                </div>
                <h5 class="pull-right"><strong class="c-black">Lorem Dolor</strong></h5>
            </div>
        </div>
        <div class="item">
            <div class="col-md-10 col-md-offset-1">

                <h4><i class="fa fa-quote-left"></i>Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor sit amet, consectetur adipiscing elit onec molestie non sem vel condimentum. <i class="fa fa-quote-right"></i></h4>
                <div class="user-img pull-right">
                    <img src="assets/img/user.png" alt="" class="img-u image-responsive" />
                </div>
                <h5 class="pull-right"><strong class="c-black">Lorem Dolor</strong></h5>
            </div>

        </div>
        <div class="item">
            <div class="col-md-10 col-md-offset-1">

                <h4><i class="fa fa-quote-left"></i>Lorem ipsum dolor sit amet, consectetur adipiscing  Lorem ipsum dolor sit amet, consectetur adipiscing elit onec molestie non sem vel condimentum. <i class="fa fa-quote-right"></i></h4>
                <div class="user-img pull-right">
                    <img src="assets/img/user.gif" alt="" class="img-u image-responsive" />
                </div>
                <h5 class="pull-right"><strong class="c-black">Lorem Dolor</strong></h5>
            </div>
        </div>
    </div>
    <!--INDICATORS-->
    <ol class="carousel-indicators">
        <li data-target="#reviews" data-slide-to="0" class="active"></li>
        <li data-target="#reviews" data-slide-to="1"></li>
        <li data-target="#reviews" data-slide-to="2"></li>
    </ol>
    <!--PREVIUS-NEXT BUTTONS-->

</div>