<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <div class="user-img-div">

                    <div class="inner-text">
                        Jhon Deo Alex
                    <br />
                        <small>Last Login : 2 Weeks Ago </small>
                    </div>
                </div>

            </li>


            <li>
                <a class="active-menu"><i class="fa fa-dashboard "></i>Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-desktop "></i>Product Categories<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                    <li>
                        <a ><i class="fa fa-toggle-on"></i>Add New Cateogory</a>
                    </li>
                    <li>
                        <a ><i class="fa fa-bell "></i>Existing Categories</a>
                    </li>
                </ul>
            </li>
                <li>
                <a href="#"><i class="fa fa-yelp "></i>Products <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                    <li>
                        <a ><i class="fa fa-coffee"></i>New Product</a>
                    </li>
                    <li>
                        <a ><i class="fa fa-flash "></i>All Products</a>
                    </li>
                    <li>
                        <a ><i class="fa fa-key "></i>Update Product</a>
                    </li>
                    
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-bicycle "></i>Orders <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                
                    <li>
                    <a ><i class="fa fa-desktop "></i>Pending Orders </a>
                    </li>
                    <li>
                    <a ><i class="fa fa-code "></i>Delivered Orders</a>
                    </li>
                </ul>
            </li>
                <%# <li>
                <a href="gallery.html"><i class="fa fa-anchor "></i>Gallery</a>
            </li>
                <li>
                <a href="error.html"><i class="fa fa-bug "></i>Error Page</a>
            </li>
            <li>
                <a href="login.html"><i class="fa fa-sign-in "></i>Login Page</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap "></i>Multilevel Link <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                    <li>
                        <a href="#"><i class="fa fa-bicycle "></i>Second Level Link</a>
                    </li>
                        <li>
                        <a href="#"><i class="fa fa-flask "></i>Second Level Link</a>
                    </li>
                    <li>
                        <a href="#">Second Level Link<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#"><i class="fa fa-plus "></i>Third Level Link</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-comments-o "></i>Third Level Link</a>
                            </li>

                        </ul>

                    </li>
                </ul>
            </li>
            
            <li>
                <a href="blank.html"><i class="fa fa-square-o "></i>Blank Page</a>
            </li> %>
        </ul>

    </div>

</nav>