<div class="row" id="row">
  <div class="span12">
    <div class="well well-small">
      <h1>Check Out </h1>
      <hr class="soften" />
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>Product</th>
            <th>Name</th>
            <th>Unit price</th>
            <th>Qty </th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody id="cart-detail">
        </tbody>
      </table>
      <br />
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>SHIPPING DETAILS</td>
          </tr>
          <tr>
            <td>
              <form class="form-group">
                <label class="span2 control-label" for="inputEmail">Delivery Address: </label>
                <div class="controls">
                  <input type="text" placeholder="Address">
                </div>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
      <a href='javascript:history.go(-1);' class="shopBtn btn-large"><span class="fa fa-arrow-left"></span> Continue
        Shopping </a>
      <a href="#" class="shopBtn btn-large pull-right">Place Order <span
							class="fa fa-arrow-right"></span></a>
    </div>
  </div>
</div>
