<%= form_for order do |form| %>

    <%= form.label :status %>
    <%= form.select :status ,options_for_select(Order::statuses.keys), class: 'form-control'%>

    <div class="actions">
      <%= form.submit  class: 'btn btn-warning mb-5' %>
    </div>
<% end %>
