<div class="container">
    <% if can? :new, @category %>
        <h1 class="bg-info text-center">New Category</h1>
        <%= render 'shared/cerrors' %>
        <%= render 'form', category: @category %>
    <%else%>
    <h1 class="container">You Don't have the permissions for this action</h1>
    <%end%>
</div>