<div class="row">
  <%= render partial: "shared/default/sidebar", locals: {header: "Categories", data: @categories}  %>
  <div class="span9">
    <!-- Products Cards -->
    <%= render partial: "shared/default/listView", locals: {products: @products} %>
  </div>
  <!-- Sellers -->
  <%= render "shared/default/sellers" %>
</div>
